body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;  
    color: $text-gray;
    padding: 3rem;
}

.heading-primary{
    color: $text-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    
    &--main{
        display: block;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 35px;
        animation: moveToLeft 1s ease-out;
    }

    &--sub{
        display: block;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 17.4px;
        animation: moveToRight 1s ease-out;
    }

}